/scripts/*  @hindsc52 @jamesdonoh @benjaminhobbs @jroebu14 @craigkj
/packages/ @jblaut @sareh @benjaminhobbs @jroebu14 @craigkj @denishdz
Jenkinsfile @hindsc52 @jamesdonoh @benjaminhobbs @craigkj

**/*CODEOWNERS* @bbc/simorgh-admins
