/scripts/*  @hindsc52 @jamesdonoh @benjaminhobbs @jroebu14
/packages/ @dr3 @jblaut @pjlee11 @sareh @benjaminhobbs @jroebu14
Jenkinsfile @hindsc52 @jamesdonoh @benjaminhobbs

**/*CODEOWNERS* @bbc/simorgh-admins
