{
  "rules": {
    "declaration-no-important": true
  },
  "processors": [["stylelint-processor-styled-components", {
      "parserPlugins": [
        "jsx",
        "exportDefaultFrom"
      ]
    }]],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ]
}
