{
  "rules": {
    "declaration-no-important": true,
    "csstree/validator": true
  },
  "processors": ["stylelint-processor-styled-components", "./jonProcessor.js"],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "plugins": [
    "stylelint-csstree-validator"
  ]
}
