name: Psammead CD - Publish Packages
on:
  push:
    branches:
      - latest

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['12']
    env:
      CI: true

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://registry.npmjs.org'
          scope: '@bbc'

      - name: Install Node Modules
        run: |
          rm -rf node_modules
          yarn install --immutable

      - name: Publish to NPM
        run: yarn run publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
